{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "functional", "react-hooks", "import", "lodash", "prettier"],
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:functional/recommended",
        "plugin:prettier/recommended",
        "plugin:json/recommended",
        "plugin:lodash/recommended",
        "prettier"
    ],
    "parserOptions": {
        "allowImportExportEverywhere": true,
        "sourceType": "module",
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "globals": {
        "navigator": false
    },
    "rules": {
        "camelcase": [0, { "properties": "never", "ignoreDestructuring": true }],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "functional/prefer-readonly-type": 0,
        "functional/prefer-type-literal": 0,
        "functional/no-return-void": 0,
        "functional/functional-parameters": 0,
        "react/jsx-no-target-blank": "error",
        "react/jsx-no-bind": "error",
        "react/prop-types": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "functional/no-expression-statement": 0,
        "@typescript-eslint/no-unused-vars": 2,
        "react/no-unescaped-entities": 0,
        "react/display-name": 0,
        "import/no-deprecated": 0,
        "import/order": [
            "error",
            {
                "groups": [["external", "builtin"], "internal", ["parent", "sibling", "index"]],
                "newlines-between": "always-and-inside-groups"
            }
        ],
        "functional/immutable-data": [
            2,
            {
                "ignoreImmediateMutation": true,
                "ignorePattern": [
                    "defaultProps",
                    "breakpoints",
                    "current",
                    "displayName",
                    "args",
                    "argTypes"
                ]
            }
        ],
        "functional/no-conditional-statement": 0,
        "functional/no-mixed-type": 0,
        "@typescript-eslint/camelcase": 0,
        "no-console": "error",
        "prefer-arrow-callback": "error",
        "no-nested-ternary": "error",
        "arrow-body-style": ["error", "as-needed"],
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-explicit-any": "error",
        "lodash/prefer-lodash-typecheck": 0,
        "lodash/prefer-lodash-method": 0
    },
    "settings": {
        "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "overrides": [
        {
            "files": ["scripts/**/*.js"],
            "env": {
                "node": true
            },
            "rules": {
                "no-console": 0,
                "@typescript-eslint/no-var-requires": 0
            }
        }
    ]
}
