{
  "extends": ["stylelint-config-standard"],
  "plugins": [
    "stylelint-scss",
    "stylelint-prettier"
  ],
  "rules": {
    "declaration-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
          "after-comment",
          "after-declaration"
        ],
        "ignore": ["after-comment", "after-declaration", "first-nested", "inside-single-line-block"]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "ignoreAtRules": [
          "else",
          "import",
          "include",
          "each"
        ],
        "except": [
          "first-nested"
        ]
      }
    ],
    "block-opening-brace-space-before": "always",
    "block-closing-brace-newline-after": [
      "always",
      {
        "ignoreAtRules": [
          "if",
          "else"
        ]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "include",
          "mixin",
          "extend",
          "for",
          "each",
          "if",
          "warn",
          "else",
          "error",
          "function",
          "return",
          "content"
        ]
      }
    ],
    "at-rule-name-space-after": "always",
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
          "after-single-line-comment"
        ]
      }
    ],
    "value-list-comma-newline-before": "never-multi-line",
    "value-list-comma-newline-after": null,
    "value-list-comma-space-after": "always-single-line",
    "color-named": "never",
    "value-no-vendor-prefix": [
      true,
      {
        "ignoreValues": [
          "grab",
          "max-content"
        ]
      }
    ],
    "selector-no-vendor-prefix": true,
    "property-no-vendor-prefix": [true, {
      "ignoreProperties": ["appearance", "overflow-scrolling"]
    }],
    "media-feature-name-no-vendor-prefix": true,
    "shorthand-property-no-redundant-values": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "font-weight-notation": "numeric",
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "font-family-name-quotes": "always-where-recommended",
    "number-leading-zero": "always",
    "string-quotes": "double",
    "value-list-comma-space-before": "never",
    "value-list-max-empty-lines": 0,
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-newline-before": "never-multi-line",
    "declaration-block-semicolon-space-after": "always-single-line",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "number-no-trailing-zeros": true,
    "block-closing-brace-empty-line-before": "never",
    "block-opening-brace-space-after": "always-single-line",
    "block-closing-brace-newline-before": "always-multi-line",
    "block-opening-brace-newline-after": "always",
    "block-closing-brace-space-before": "always-single-line",
    "selector-attribute-brackets-space-inside": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-quotes": "always",
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-descendant-combinator-no-non-space": true,
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "selector-pseudo-element-case": "lower",
    "selector-pseudo-element-colon-notation": "single",
    "selector-type-case": "lower",
    "selector-list-comma-newline-after": "always-multi-line",
    "selector-list-comma-newline-before": "never-multi-line",
    "selector-list-comma-space-after": "always-single-line",
    "selector-list-comma-space-before": "never",
    "max-empty-lines": 1,
    "indentation": 4,
    "media-query-list-comma-space-before": "never",
    "media-query-list-comma-space-after": "always-single-line",
    "media-query-list-comma-newline-before": "never-multi-line",
    "media-query-list-comma-newline-after": "always-multi-line",
    "selector-max-universal": 2,
    "selector-max-type": [
      2,
      {
        "ignore": [
          "child",
          "compounded",
          "descendant"
        ]
      }
    ],
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": [
          "attribute"
        ]
      }
    ],
    "selector-max-id": 1,
    "selector-max-combinators": 2,
    "function-url-no-scheme-relative": true,
    "no-descending-specificity": null,
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/at-else-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-else-closing-brace-space-after": "always-intermediate",
    "scss/at-else-empty-line-before": "never",
    "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-if-closing-brace-space-after": "always-intermediate",
    "prettier/prettier": true,
    "declaration-colon-newline-after": null,
    "length-zero-no-unit": true,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["font-smooth", "font-width"]
      }
    ],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global", "local"]
    }]
  }
}
